/**
 Main styles
*/
body{
  background-color: #708090;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navigation{
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  margin-bottom: 15px;
}
.navigation a{
  color: #ffffff;
  font-size: 20px;
  padding-left: 30px;
  text-decoration: none;
}
.main-ruler{
  width: 100%;
  color: #ffffff;
  height: 5px;
  background-color: #ffffff;
}
.navigation a:hover{
  background-color: #ff7f50;
  color: #ffffff;
  padding: 0px;
  margin-left: 10px;
  border-radius: 10px;
}
.main-body{
  display: flex;
  flex-direction: column;
  min-height: 400px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: flex-start;
  border-bottom-style: groove;
  min-height: 150px;
}

.sidebar .left-sidebar{
  margin-right: 5px;
  width: 100%;
}
.contacts{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  bottom: 0;
  line-height: 20px;
}

.contacts h4{
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}
.contacts ul{
  list-style-type: none;
  display: block;
}
.contacts ul li{
  color: #ffffff;
  margin-bottom: 5px;
  font-style: italic;
  font-size: larger;
}
.left-sidebar img{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  opacity: 0.9;
}
@media screen and (max-width: 600px) {
  .navigation{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .navigation a{
    color: #ffffff;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
  }
}